@font-face {
  font-family: "Agrandir";
  src: url("../src/fuentes/Agrandir-Regular.otf") format("otf");
}
@font-face {
  font-family: "Raleway ExtraLight";
  src: url("../src/fuentes/Raleway-ExtraLight.ttf") format("otf");
}
@font-face {
  font-family: "Raleway";
  src: url("../src/fuentes/Raleway-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway Semibold";
  src: url("../src/fuentes/Raleway-SemiBold.ttf") format("ttf");
}
/* Estilo para el contenedor de la navbar */
.nav-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  padding: 25px; /* Ajustar el espaciado vertical según sea necesario */
  /*background-color: #ffffff;  Agrega un fondo para visualizar el contenedor */
}

/* Estilo para la lista horizontal */
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

/* Espaciado entre elementos de la lista */
.nav-list li {
  margin-right: 25px;
}

/* Aplicar fuente personalizada */
.nav-list a {
  display: flex;
  align-items: center;
  font-family: "Raleway ExtraLight", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nav-list li a img {
  max-width: 35px; /* Ajusta el ancho máximo de la imagen */
  height: auto;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px; /* Ajusta el espaciado según sea necesario */
}
.component-content {
  font-family: "Raleway ExtraLight", sans-serif;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /*background-color: #ffffff; /* Color de fondo del bloque */
  border-radius: 10px; /* Bordes redondeados */
  padding-inline: 25%; /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}
.content-header {
  font-family: "Raleway ExtraLight", sans-serif;
  color: rgb(27, 161, 220);
  font-size: 22pt;
}
.content-text {
  font-family: "Raleway ExtraLight", sans-serif;
  font-size: 12pt;
  line-height: 16pt;
  min-height: fit-content;
}
.content-text text {
  font-family: "Raleway Semibold";
}
.content-text a {
  color: rgb(27, 161, 220);
}

.footer {
  display: flex;
  font-family: "Raleway ExtraLight", sans-serif;
  background-color: #d6d6d6;
  color: rgb(0, 0, 0);
  justify-content: right;
  align-items: center;
  margin-top: auto;
  width: 100%;
  max-width: 100%;
}
.footer p {
  padding-right: 15px;
  position: relative;
}

.footer p::after {
  content: "";
  display: block;
  height: 10px;
}

/* Estilo para la lista horizontal en dispositivos móviles */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .nav-list li {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* Estilo para el pie de página en dispositivos móviles */
@media (max-width: 768px) {
  .footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }
  .footer p {
    padding-right: 0;
    padding-bottom: 5px;
  }
}
/* Clase para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo del contenedor principal */
}

/*Clase para el contenido del router
/*.router-content {
  flex: 1; /* Permite que el contenido del router ocupe el espacio restante */
/* padding-bottom: 60px; /* Asegura que haya suficiente espacio para el footer */
/*display: flex;
 /* flex-direction: column; /* Asegurar que los elementos se apilen verticalmente */
/* justify-content: stretch;  Forzar que los elementos se estiren verticalmente */
/* } */
